@import "../../../styles/mixins";

.btn {
  cursor: pointer;
  position: relative;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: 400;
  outline: 0;
  padding: 10px 50px 10px;
  box-shadow: none;
  overflow: hidden;
  transition: background .3s ease-in-out;
  max-height: 60px;

  @include state;

  .content {
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;

    .children {

      &.loading {
        opacity: .5;
      }
    }

    .loader {
      position: relative;
      top: 50%; right: 50%;
      transform: translate(50%,-50%);
    }
  }

  .sm{
    padding: 0 30px;
    max-height: 40px;
    font-size: 14px;
  }

  &:hover, &:focus {
    color: white;
    background: black;
  }
  &:disabled {
    cursor: not-allowed;
    background: #7c7a7a;
    color: white;
  }
}
