.container {
    margin: 50px 10px 0;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}
.row:hover{
    box-shadow: var(--shadow);
}

.row.selected {
    background: #ecf3fe;
}

.rowItem {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 300;
    font-size: 14px;
}